<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<link rel="stylesheet" href="assets/css/burger_style.css" type="text/css"/>
		<title>Burgers with MVC!</title>
		<script src="https://code.jquery.com/jquery.js"></script>
		<!-- <script src="/assets/js/cats.js"></script> -->
    <!--there is no FE js folder in the instructions for this project -->
	</head>
	<body>
		{{{ body }}}
	</body>
</html>
